@model eSocium.Web.Models.QuestionsViewModel

@{
    ViewBag.Title = "Questions of " + @Model.SurveyName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (TempData["message"] != null)
{
    <div class="Message">@TempData["message"]</div>
}

<p>
    @Html.ActionLink("Create New Question", "Create", new { SurveyID = Model.SurveyID })
</p>

<table>
    <tr>
        <th style="width: 400px">
            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Wording)
        </th>
        <th style="width: 100px">
            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().CreationTime)
        </th>
        <th style="width: 100px">
            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().LastModificationTime)
        </th>
        <th style="width: 100px">
            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Label)
        </th>
        <th style="width: 200px">
            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().AdditionalInfo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wording)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", 
                    new { QuestionID = item.QuestionID })
                <br>
                @Html.ActionLink("Answers", "Index", 
                    new { controller = "Answer", QuestionID = item.QuestionID })
                <br>
                @Html.ActionLink("Delete", "Delete", new { QuestionID = item.QuestionID }, 
                    new { onclick = "return confirm('Are you sure you want to delete the question?')" })
                <br>
                @Html.ActionLink("Analyze", "Analyze", 
                    new { QuestionID = item.QuestionID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Return back to survey list", "Index", "Survey")
</p>
