@model eSocium.Web.Models.ResultViewModel

@{
    ViewBag.Title = "Normalizing Results";
}

<h2>@ViewBag.Title</h2>

<h3>Наиболее частые слова:</h3>
@foreach(var item in Model.MostCommonWords)
{
    @Html.DisplayFor(modelItem => item.Key)     
    <text> --- </text>
    @Html.DisplayFor(modelItem => item.Value)
    <br>
}

<!--<h3>Cлова, которые не удалось идентифицировать:</h3>-->
@*
@foreach (var item in Model.UnknownWords)
{
    @Html.DisplayFor(modelItem => item)
    <br>
}
*@

<br>
<h3>@Html.LabelFor(m => m.SelectedActionId)</h3>
<br>
@Html.DropDownListFor(m => m.SelectedActionId, new SelectList(Model.Actions))
<br>
@*@Html.HiddenFor(model => model.SelectedQuestionId)*@

@foreach (var item in Model.Clustering.Select((value, i) => new { i, value }))
{    
    <h3> Cluster @item.i:</h3>
    <br>
    foreach(var word in Model.TypicalWords[item.i])
    {
        @Html.DisplayFor(modelItem =>word.Key)
        <text> --- </text>
        @Html.DisplayFor(modelItem =>word.Value)    
        <text>; </text>
        <br>
    }
    <br>
    foreach(var ans in Model.Clustering[item.i].Select((text, j) => new {j, text}))
    {
        @Html.CheckBoxFor(model => model.Selected[item.i][ans.j])
        @Html.DisplayFor(modelItem => ans.text)
        <br>
    }
}