@model eSocium.Web.Models.SelectLinkEditorViewModel

<tr>
    <td style="text-align:center">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
        @Html.HiddenFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.Example)
        @Html.HiddenFor(model => model.Example)
    </td>
    <td>
        @Html.HiddenFor(model => model.Type)
    </td>
</tr>