@model eSocium.Web.Models.LinkConfigurationViewModel

@{
    ViewBag.Title = "Link Configuration Info: " + @Model.LinkConfiguration.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["message"] != null)
{
    <div class="Message">@TempData["message"]</div>
}

@using (Html.BeginForm("Edit", "LinkConfiguration", FormMethod.Post, new { encType = "multipart/form-data", @data_ajax = "false" }))
{
    @Html.EditorFor(m => m.LinkConfiguration)    
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                Description
            </th>
            <th>
                Example
            </th>
            <th></th>
        </tr>
        @Html.EditorFor(model => model.Links)
    </table>
    <hr />
    <br />
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to Link Configuration list", "Index")
}
